<!DOCTYPE html>
<html>
<head>
    <title>Login - Fake News Verification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Fake News Verification</h1>

    <h2>Login</h2>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form method="POST">

        <input type="text"
               name="username"
               placeholder="Enter Username"
               required>

        <input type="password"
               name="password"
               placeholder="Enter Password"
               required>

        <button type="submit">
            Login
        </button>

    </form>


    <p>
        Don't have an account?
        <a href="/register">Register</a>
    </p>

</div>

</body>
</html>